input[type="radio"]:checked + label {
  color: #000;
  border-color: rgba(74, 64, 255, 0.15);
  background-color: rgba(74, 64, 255, 0.15);
}

input[type="radio"]:checked + label {
  background-color: rgba(74, 64, 255, 0.15);
}

.opacity {
	position: absolute;
	opacity: 0;
	width: 0;
}